In [394]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle

In [395]:
df=pd.read_csv('mobile_prices.csv')

In [396]:
df.shape

(861, 10)

In [397]:
df

,Unnamed: 0,brand,Model_name,Highest_price,screen_size,Primary_cam,Front_cam,lowest_price,ram,rom
0,0,Realme,Realme 2 Pro 128GB,5000,6.3,16.0,16,5000,8,128
1,1,Apple,Apple iPhone X,45541,5.8,12.0,7,16000,3,64
2,2,Apple,Apple iPhone XR,38499,6.1,12.0,7,17999,3,64
3,3,Apple,Apple iPhone 7,25299,4.7,12.0,7,14800,2,32
4,4,Apple,Apple iPhone 6s 64GB,30798,4.7,12.0,5,12500,2,64
...,...,...,...,...,...,...,...,...,...,...
856,1022,Oppo,Oppo F11 Pro,6000,6.5,16.0,25,6000,6,64
857,1023,Oppo,Oppo A7,8000,6.2,13.0,16,8000,3,32
858,1024,Realme,Realme 2 Pro 128GB,5000,6.3,16.0,16,5000,8,128
859,1025,Xiaomi,Xiaomi Redmi Note 7 Pro,9000,6.3,48.0,20,9000,4,64
860,1026,Oppo,Oppo A1,7200,5.7,13.0,8,7200,4,64

In [342]:
df['Average_price']=(df['Highest_price']+df['lowest_price'])/2

In [343]:
df.sample(20)

,Unnamed: 0,brand,Model_name,Highest_price,screen_size,Primary_cam,Front_cam,lowest_price,ram,rom,Average_price
298,345,Oppo,Oppo A37,4653,5.00,8.0,5,4000,2,16,4326.5
763,904,OnePlus,OnePlus 6,19249,6.28,16.0,16,3700,6,64,11474.5
785,932,Apple,Apple iPhone 7 256GB,31756,4.70,12.0,7,27500,2,256,29628.0
149,181,Vivo,Vivo Y21L 4G,3899,4.50,5.0,2,3000,1,16,3449.5
754,895,Apple,Apple iPhone 5c 16GB,16494,4.00,8.0,1.2,7000,1,16,11747.0
377,444,Samsung,Samsung Galaxy S9,31845,5.80,12.0,8,17500,4,64,24672.5
255,298,Samsung,Samsung Galaxy S8 Plus,22880,6.20,12.0,8,15000,4,64,18940.0
452,529,Apple,Apple iPhone XS Max 256GB,67772,6.50,12.0,7,32000,4,256,49886.0
830,984,Xiaomi,Xiaomi Redmi Y2 (4GB/64GB),12000,5.99,12.0,16,12000,4,64,12000.0
112,130,Samsung,Samsung Galaxy J5 Prime,5499,5.00,13.0,5,4000,2,16,4749.5
407,480,Samsung,Samsung Galaxy Note 4,16499,5.70,16.0,3.7,4000,3,32,10249.5
261,306,OnePlus,OnePlus 6T 256GB,25299,6.41,16.0,16,12000,8,256,18649.5
609,723,Apple,Apple iPhone 6s 128GB,30217,4.70,12.0,5,3666,2,128,16941.5
354,421,Apple,Apple iPhone 6s Plus 64GB,43999,5.50,12.0,5,4000,2,64,23999.5
45,50,Samsung,Samsung Galaxy S8 Plus,22880,6.20,12.0,8,15000,4,64,18940.0
601,713,Apple,Apple iPhone 6 64GB,24744,4.70,8.0,1.2,10000,1,64,17372.0
321,380,OnePlus,OnePlus One,5000,5.50,13.0,5,5000,3,64,5000.0
495,588,General,General GM 5,3300,5.00,13.0,5,3300,2,16,3300.0
476,558,Samsung,Samsung Galaxy Note N7000 16GB,10000,5.30,8.0,2,10000,1,16,10000.0
546,651,Samsung,Samsung Galaxy J7 Duo,7694,5.50,13.0,8,7000,4,32,7347.0

In [344]:
y=df['Average_price'].values

In [345]:
y.shape

(861,)

In [346]:
df.drop(columns=['Highest_price','lowest_price','Average_price','Unnamed: 0'],inplace=True)

In [347]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 861 entries, 0 to 860
Data columns (total 7 columns):
brand          861 non-null object
Model_name     861 non-null object
screen_size    861 non-null float64
Primary_cam    861 non-null float64
Front_cam      861 non-null object
ram            861 non-null int64
rom            861 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 47.2+ KB

In [348]:
df

,brand,Model_name,screen_size,Primary_cam,Front_cam,ram,rom
0,Realme,Realme 2 Pro 128GB,6.3,16.0,16,8,128
1,Apple,Apple iPhone X,5.8,12.0,7,3,64
2,Apple,Apple iPhone XR,6.1,12.0,7,3,64
3,Apple,Apple iPhone 7,4.7,12.0,7,2,32
4,Apple,Apple iPhone 6s 64GB,4.7,12.0,5,2,64
...,...,...,...,...,...,...,...
856,Oppo,Oppo F11 Pro,6.5,16.0,25,6,64
857,Oppo,Oppo A7,6.2,13.0,16,3,32
858,Realme,Realme 2 Pro 128GB,6.3,16.0,16,8,128
859,Xiaomi,Xiaomi Redmi Note 7 Pro,6.3,48.0,20,4,64
860,Oppo,Oppo A1,5.7,13.0,8,4,64

In [349]:
df['brand'].value_counts()

Apple        181
Samsung      174
Xiaomi       114
Oppo          72
OnePlus       65
Vivo          50
Nokia         40
Motorola      40
Google        25
Realme        20
LG            20
Honor         15
HTC           11
Micromax       8
Panasonic      5
InFocus        5
Gionee         5
Huawei         5
General        5
Asus           1
Name: brand, dtype: int64

In [350]:
df['rom']=df['rom'].astype('category')

In [351]:
df['ram']=df['ram'].astype('category')

In [352]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 861 entries, 0 to 860
Data columns (total 7 columns):
brand          861 non-null object
Model_name     861 non-null object
screen_size    861 non-null float64
Primary_cam    861 non-null float64
Front_cam      861 non-null object
ram            861 non-null category
rom            861 non-null category
dtypes: category(2), float64(2), object(3)
memory usage: 36.2+ KB

In [353]:
df

,brand,Model_name,screen_size,Primary_cam,Front_cam,ram,rom
0,Realme,Realme 2 Pro 128GB,6.3,16.0,16,8,128
1,Apple,Apple iPhone X,5.8,12.0,7,3,64
2,Apple,Apple iPhone XR,6.1,12.0,7,3,64
3,Apple,Apple iPhone 7,4.7,12.0,7,2,32
4,Apple,Apple iPhone 6s 64GB,4.7,12.0,5,2,64
...,...,...,...,...,...,...,...
856,Oppo,Oppo F11 Pro,6.5,16.0,25,6,64
857,Oppo,Oppo A7,6.2,13.0,16,3,32
858,Realme,Realme 2 Pro 128GB,6.3,16.0,16,8,128
859,Xiaomi,Xiaomi Redmi Note 7 Pro,6.3,48.0,20,4,64
860,Oppo,Oppo A1,5.7,13.0,8,4,64

In [354]:
front_cam=[]
for i in df['Front_cam']:
    try:
        if int(i)<=50:
            front_cam.append(i)
        else:
            front_cam.append(np.nan)
    except:
        front_cam.append(np.nan)

In [355]:
df['front_cam']=front_cam

In [356]:
df.drop(columns='Front_cam',inplace=True)

In [357]:
df=df.replace(np.nan,5)

In [358]:
df

,brand,Model_name,screen_size,Primary_cam,ram,rom,front_cam
0,Realme,Realme 2 Pro 128GB,6.3,16.0,8,128,16
1,Apple,Apple iPhone X,5.8,12.0,3,64,7
2,Apple,Apple iPhone XR,6.1,12.0,3,64,7
3,Apple,Apple iPhone 7,4.7,12.0,2,32,7
4,Apple,Apple iPhone 6s 64GB,4.7,12.0,2,64,5
...,...,...,...,...,...,...,...
856,Oppo,Oppo F11 Pro,6.5,16.0,6,64,25
857,Oppo,Oppo A7,6.2,13.0,3,32,16
858,Realme,Realme 2 Pro 128GB,6.3,16.0,8,128,16
859,Xiaomi,Xiaomi Redmi Note 7 Pro,6.3,48.0,4,64,20
860,Oppo,Oppo A1,5.7,13.0,4,64,8

In [359]:
df['front_cam']=df['front_cam'].astype('float')

In [360]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 861 entries, 0 to 860
Data columns (total 7 columns):
brand          861 non-null object
Model_name     861 non-null object
screen_size    861 non-null float64
Primary_cam    861 non-null float64
ram            861 non-null int64
rom            861 non-null int64
front_cam      861 non-null float64
dtypes: float64(3), int64(2), object(2)
memory usage: 47.2+ KB

In [361]:
df.drop(columns='Model_name',inplace=True)

In [362]:
df['ram']=df['ram'].astype('object')
df['rom']=df['rom'].astype('object')

In [363]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 861 entries, 0 to 860
Data columns (total 6 columns):
brand          861 non-null object
screen_size    861 non-null float64
Primary_cam    861 non-null float64
ram            861 non-null object
rom            861 non-null object
front_cam      861 non-null float64
dtypes: float64(3), object(3)
memory usage: 40.5+ KB

In [364]:
final=pd.get_dummies(df, columns=['brand','ram','rom'])

In [365]:
final

,screen_size,Primary_cam,front_cam,brand_Apple,brand_Asus,brand_General,brand_Gionee,brand_Google,brand_HTC,brand_Honor,...,ram_8,ram_12,rom_1,rom_8,rom_16,rom_32,rom_64,rom_128,rom_256,rom_512
0,6.3,16.0,16.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
1,5.8,12.0,7.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,6.1,12.0,7.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,4.7,12.0,7.0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,4.7,12.0,5.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856,6.5,16.0,25.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
857,6.2,13.0,16.0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
858,6.3,16.0,16.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
859,6.3,48.0,20.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
860,5.7,13.0,8.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [366]:
final.columns.values

array(['screen_size', 'Primary_cam', 'front_cam', 'brand_Apple',
       'brand_Asus', 'brand_General', 'brand_Gionee', 'brand_Google',
       'brand_HTC', 'brand_Honor', 'brand_Huawei', 'brand_InFocus',
       'brand_LG', 'brand_Micromax', 'brand_Motorola', 'brand_Nokia',
       'brand_OnePlus', 'brand_Oppo', 'brand_Panasonic', 'brand_Realme',
       'brand_Samsung', 'brand_Vivo', 'brand_Xiaomi', 'ram_1', 'ram_2',
       'ram_3', 'ram_4', 'ram_6', 'ram_8', 'ram_12', 'rom_1', 'rom_8',
       'rom_16', 'rom_32', 'rom_64', 'rom_128', 'rom_256', 'rom_512'],
      dtype=object)

In [367]:
X=final.iloc[:,:].values

In [368]:
X

array([[ 6.3, 16. , 16. , ...,  1. ,  0. ,  0. ],
       [ 5.8, 12. ,  7. , ...,  0. ,  0. ,  0. ],
       [ 6.1, 12. ,  7. , ...,  0. ,  0. ,  0. ],
       ...,
       [ 6.3, 16. , 16. , ...,  1. ,  0. ,  0. ],
       [ 6.3, 48. , 20. , ...,  0. ,  0. ,  0. ],
       [ 5.7, 13. ,  8. , ...,  0. ,  0. ,  0. ]])

In [369]:
print(X.shape)
print(y.shape)

(861, 38)
(861,)

In [370]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [371]:
print(X_train.shape)
print(X_test.shape)

(688, 38)
(173, 38)

In [372]:
X_test

array([[ 6.41, 16.  , 16.  , ...,  1.  ,  0.  ,  0.  ],
       [ 5.7 , 16.  ,  5.  , ...,  0.  ,  0.  ,  0.  ],
       [ 6.18, 12.  , 20.  , ...,  1.  ,  0.  ,  0.  ],
       ...,
       [ 6.41, 16.  , 16.  , ...,  1.  ,  0.  ,  0.  ],
       [ 5.  , 13.  ,  5.  , ...,  0.  ,  0.  ,  0.  ],
       [ 6.2 , 12.  ,  8.  , ...,  0.  ,  0.  ,  0.  ]])

In [373]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

In [374]:
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [375]:
y_pred=regressor.predict(X_test)

In [376]:
from sklearn.metrics import r2_score
print('The accuracy of the model = ',r2_score(y_test,y_pred)*100)

The accuracy of the model =  83.54636148033441

In [377]:
y_pred

array([15654.25174524, 11908.61393414, 14688.15035672,  6316.88873248,
        9431.76012023, 11379.20103752, 16056.74052662,  5605.12502456,
       14803.04645408, 35968.92222761,  7254.9636758 ,  6488.20146742,
        1887.33758272, 12126.45855347, 11551.4122994 ,  7775.23249255,
        9431.76012023,  4589.53642947,  3204.98465936,  6352.70582257,
       34515.55848299,  8145.3607251 ,  4949.        , 11988.88747591,
       31625.50358948,  8257.25689696, 13713.79159322, 21466.92602555,
         640.0101332 ,  2809.4516716 , 17478.72764142, 15561.95866895,
        7314.62152113, 33062.19473837, 10290.05281301, 41422.        ,
       36333.63670486,  8176.51208488,  7080.84233481, 12126.45855347,
       16025.3638968 , 27703.57045285, 39724.81877564, 20190.86415598,
       21371.93603548,  2809.4516716 , 11500.        , 15189.81688412,
       12807.53699443,  8789.92180352,  2809.4516716 ,   868.53679465,
       17108.85694331, 33062.19473837, 26498.94346146,  7497.62178321,
       11500.        , 17108.85694331, 14943.94913929,   640.0101332 ,
        7080.84233481,  1168.23909971,  1476.64932571, 20190.86415598,
        8162.25238024,  4797.38030192, 13038.68555739,  6352.70582257,
       21371.93603548, 12578.00244504, 14803.04645408,  1476.64932571,
        4567.65651244, 17806.99841837,  4567.65651244,  6532.52342346,
       18004.29049116, 27703.57045285, 16141.43359909, 11988.88747591,
       10021.4860697 ,  7413.19427179, 16120.92586762, 12500.51365067,
       26498.94346146, 28767.48220121,  9431.76012023, 26826.51666664,
       11379.20103752,  6490.44678009, 21954.27157464, 24419.30291371,
       12126.45855347, 26826.51666664, 13500.31703306, 11911.57554826,
        8144.75513161, 24809.10653968, 16786.32206809, 42544.07635419,
        8774.97873027,  8789.92180352, 12578.00244504, 11551.4122994 ,
       15869.18009221, 39724.81877564, 10448.66731714,  3300.        ,
        6442.50601646,  6316.88873248, 31625.50358948, 11993.5855839 ,
       24066.5008083 ,  8551.15028041,  8103.49798005, 15869.18009221,
       25049.09386971,  6490.44678009, 15654.25174524,  1360.89061567,
       24419.30291371, 21371.93603548,  3300.        ,  6352.70582257,
        2780.37028724,  9066.17174378,  9117.35423998,  9308.25637446,
       23558.22190856, 14688.15035672,  3723.41313205, 29203.23068178,
        7391.72801274,  8913.32528128, 26498.94346146, 12807.53699443,
        4567.65651244, 19075.82638318,  7490.17815259, 12126.45855347,
       41418.97809707, 18004.29049116,  3723.41313205,  6049.        ,
       21466.92602555, 10880.06144185, 16156.53111209, 17496.29938316,
        7158.50357613, 14943.94913929, 13448.92933613,  9431.76012023,
       18563.74486502,  9066.17174378, 30384.30256128, 24799.42293676,
       33062.19473837, 10880.06144185, 10880.06144185, 22104.85816394,
       17108.85694331, 33078.8673341 , 46618.55478679, 14576.03030774,
       12380.16795289, 11988.88747591,  5605.12502456, 14688.15035672,
       17108.85694331, 12114.11758277, 16786.32206809,  3300.        ,
       21466.92602555])

In [378]:
#pickle.dump(regressor,open('model86%.pkl','wb'))

In [379]:
new=pd.DataFrame(columns=['screen_size', 'Primary_cam', 'front_cam', 'brand_Apple',
       'brand_Asus', 'brand_General', 'brand_Gionee', 'brand_Google',
       'brand_HTC', 'brand_Honor', 'brand_Huawei', 'brand_InFocus',
       'brand_LG', 'brand_Micromax', 'brand_Motorola', 'brand_Nokia',
       'brand_OnePlus', 'brand_Oppo', 'brand_Panasonic', 'brand_Realme',
       'brand_Samsung', 'brand_Vivo', 'brand_Xiaomi', 'ram_1', 'ram_2',
       'ram_3', 'ram_4', 'ram_6', 'ram_8', 'ram_12', 'rom_1', 'rom_8',
       'rom_16', 'rom_32', 'rom_64', 'rom_128', 'rom_256', 'rom_512'])

In [380]:
new

Empty DataFrame
Columns: [screen_size, Primary_cam, front_cam, brand_Apple, brand_Asus, brand_General, brand_Gionee, brand_Google, brand_HTC, brand_Honor, brand_Huawei, brand_InFocus, brand_LG, brand_Micromax, brand_Motorola, brand_Nokia, brand_OnePlus, brand_Oppo, brand_Panasonic, brand_Realme, brand_Samsung, brand_Vivo, brand_Xiaomi, ram_1, ram_2, ram_3, ram_4, ram_6, ram_8, ram_12, rom_1, rom_8, rom_16, rom_32, rom_64, rom_128, rom_256, rom_512]
Index: []

[0 rows x 38 columns]

In [381]:
df

      brand  screen_size  Primary_cam ram  rom  front_cam
0    Realme          6.3         16.0   8  128       16.0
1     Apple          5.8         12.0   3   64        7.0
2     Apple          6.1         12.0   3   64        7.0
3     Apple          4.7         12.0   2   32        7.0
4     Apple          4.7         12.0   2   64        5.0
..      ...          ...          ...  ..  ...        ...
856    Oppo          6.5         16.0   6   64       25.0
857    Oppo          6.2         13.0   3   32       16.0
858  Realme          6.3         16.0   8  128       16.0
859  Xiaomi          6.3         48.0   4   64       20.0
860    Oppo          5.7         13.0   4   64        8.0

[861 rows x 6 columns]

In [382]:
d={'brand':['Asus','Google'],'screen_size':[6.1,5.5],'Primary_cam':[16,20],'front_cam':[5,16],'ram':[8,12],'rom':[16,128]}
data=pd.DataFrame(d,index=[1,2])

In [383]:
data

    brand  screen_size  Primary_cam  front_cam  ram  rom
1    Asus          6.1           16          5    8   16
2  Google          5.5           20         16   12  128

In [384]:
F=pd.get_dummies(data, columns=['brand','ram','rom'])

In [385]:
F

,screen_size,Primary_cam,front_cam,brand_Asus,brand_Google,ram_8,ram_12,rom_16,rom_128
1,6.1,16,5,1,0,1,0,1,0
2,5.5,20,16,0,1,0,1,0,1

In [386]:
F.columns.values

array(['screen_size', 'Primary_cam', 'front_cam', 'brand_Asus',
       'brand_Google', 'ram_8', 'ram_12', 'rom_16', 'rom_128'],
      dtype=object)

In [387]:
new[F.columns.values]=F[F.columns.values]

In [388]:
new

,screen_size,Primary_cam,front_cam,brand_Apple,brand_Asus,brand_General,brand_Gionee,brand_Google,brand_HTC,brand_Honor,...,ram_8,ram_12,rom_1,rom_8,rom_16,rom_32,rom_64,rom_128,rom_256,rom_512
1,6.1,16,5,NaN,1,NaN,NaN,0,NaN,NaN,...,1,0,NaN,NaN,1,NaN,NaN,0,NaN,NaN
2,5.5,20,16,NaN,0,NaN,NaN,1,NaN,NaN,...,0,1,NaN,NaN,0,NaN,NaN,1,NaN,NaN

In [389]:
new=new.replace(np.nan,0)

In [390]:
new.shape

(2, 38)

In [391]:
x=new.iloc[:,:].values
x.shape

(2, 38)

In [392]:
x

array([[ 6.1, 16. ,  5. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  1. ,
         0. ,  0. ,  0. ,  0. ,  0. ],
       [ 5.5, 20. , 16. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  1. ,  0. ,  0. ]])

In [393]:
round(regressor.predict(x)[0],2)

11262.56