In [1427]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle

In [1428]:
df=pd.read_csv('mobile_prices.csv')

In [1429]:
df.shape

(861, 10)

In [1430]:
df

,Unnamed: 0,brand,Model_name,Highest_price,screen_size,Primary_cam,Front_cam,lowest_price,ram,rom
0,0,Realme,Realme 2 Pro 128GB,5000,6.3,16.0,16,5000,8,128
1,1,Apple,Apple iPhone X,45541,5.8,12.0,7,16000,3,64
2,2,Apple,Apple iPhone XR,38499,6.1,12.0,7,17999,3,64
3,3,Apple,Apple iPhone 7,25299,4.7,12.0,7,14800,2,32
4,4,Apple,Apple iPhone 6s 64GB,30798,4.7,12.0,5,12500,2,64
...,...,...,...,...,...,...,...,...,...,...
856,1022,Oppo,Oppo F11 Pro,6000,6.5,16.0,25,6000,6,64
857,1023,Oppo,Oppo A7,8000,6.2,13.0,16,8000,3,32
858,1024,Realme,Realme 2 Pro 128GB,5000,6.3,16.0,16,5000,8,128
859,1025,Xiaomi,Xiaomi Redmi Note 7 Pro,9000,6.3,48.0,20,9000,4,64
860,1026,Oppo,Oppo A1,7200,5.7,13.0,8,7200,4,64

In [1431]:
df['Average_price']=(df['Highest_price']+df['lowest_price'])/2

In [1432]:
df.sample(20)

,Unnamed: 0,brand,Model_name,Highest_price,screen_size,Primary_cam,Front_cam,lowest_price,ram,rom,Average_price
615,729,Apple,Apple iPhone 8,32999,4.70,12.0,7,18500,2,64,25749.5
558,665,Motorola,Motorola Moto G6 (4GB/64GB),8706,5.70,12.0,16,8706,4,64,8706.0
538,642,Apple,Apple iPhone XS Max 256GB,67772,6.50,12.0,7,32000,4,256,49886.0
312,367,Xiaomi,Xiaomi Redmi Y2 (4GB/64GB),12000,5.99,12.0,16,12000,4,64,12000.0
262,307,Apple,Apple iPhone 7,25299,4.70,12.0,7,14800,2,32,20049.5
62,70,Samsung,Samsung Galaxy A6 plus (4GB/64GB) (2018),13194,6.00,16.0,24,10500,4,64,11847.0
303,350,Xiaomi,Xiaomi Redmi Note 4 (3GB/32GB),4949,5.50,13.0,5,2500,3,32,3724.5
226,266,Samsung,Samsung Galaxy A7 2018 128GB,11794,6.00,24.0,24,11794,6,128,11794.0
282,329,Apple,Apple iPhone 8 256GB,37949,4.70,12.0,7,5500,2,256,21724.5
273,320,Samsung,Samsung Galaxy S8 Plus (6GB/128GB),34595,6.20,12.0,8,12000,6,128,23297.5
49,54,Xiaomi,Xiaomi F1,11549,6.18,12.0,20,9000,6,64,10274.5
437,512,Samsung,Samsung Galaxy J8 2018,8189,6.00,16.0,16,8189,4,64,8189.0
156,189,Xiaomi,Xiaomi Mi A2 (6GB/128GB),14500,5.99,12.0,20,14500,6,128,14500.0
259,304,OnePlus,OnePlus 6 (256GB),24749,6.28,16.0,16,21000,8,256,22874.5
30,34,Apple,Apple iPhone 5s,8249,4.00,8.0,1.2,1000,1,16,4624.5
424,498,Vivo,Vivo V9,10766,6.30,16.0,24,9000,4,64,9883.0
105,123,InFocus,InFocus Vision 3 Pro,6049,5.70,13.0,13,6049,4,64,6049.0
391,462,Samsung,Samsung Galaxy S8 Plus,22880,6.20,12.0,8,15000,4,64,18940.0
500,594,OnePlus,OnePlus One,5000,5.50,13.0,5,5000,3,64,5000.0
436,511,Samsung,Samsung Galaxy J7 Max,8195,5.70,13.0,13,7500,4,32,7847.5

In [1433]:
y=df['lowest_price'].values

In [1434]:
y.shape

(861,)

In [1435]:
df.drop(columns=['Highest_price','lowest_price','Average_price','Unnamed: 0'],inplace=True)

In [1436]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 861 entries, 0 to 860
Data columns (total 7 columns):
brand          861 non-null object
Model_name     861 non-null object
screen_size    861 non-null float64
Primary_cam    861 non-null float64
Front_cam      861 non-null object
ram            861 non-null int64
rom            861 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 47.2+ KB

In [1437]:
df

,brand,Model_name,screen_size,Primary_cam,Front_cam,ram,rom
0,Realme,Realme 2 Pro 128GB,6.3,16.0,16,8,128
1,Apple,Apple iPhone X,5.8,12.0,7,3,64
2,Apple,Apple iPhone XR,6.1,12.0,7,3,64
3,Apple,Apple iPhone 7,4.7,12.0,7,2,32
4,Apple,Apple iPhone 6s 64GB,4.7,12.0,5,2,64
...,...,...,...,...,...,...,...
856,Oppo,Oppo F11 Pro,6.5,16.0,25,6,64
857,Oppo,Oppo A7,6.2,13.0,16,3,32
858,Realme,Realme 2 Pro 128GB,6.3,16.0,16,8,128
859,Xiaomi,Xiaomi Redmi Note 7 Pro,6.3,48.0,20,4,64
860,Oppo,Oppo A1,5.7,13.0,8,4,64

In [1438]:
df['brand'].value_counts()

Apple        181
Samsung      174
Xiaomi       114
Oppo          72
OnePlus       65
Vivo          50
Nokia         40
Motorola      40
Google        25
LG            20
Realme        20
Honor         15
HTC           11
Micromax       8
Gionee         5
General        5
Huawei         5
InFocus        5
Panasonic      5
Asus           1
Name: brand, dtype: int64

In [1439]:
df['rom']=df['rom'].astype('category')

In [1440]:
df['ram']=df['ram'].astype('category')

In [1441]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 861 entries, 0 to 860
Data columns (total 7 columns):
brand          861 non-null object
Model_name     861 non-null object
screen_size    861 non-null float64
Primary_cam    861 non-null float64
Front_cam      861 non-null object
ram            861 non-null category
rom            861 non-null category
dtypes: category(2), float64(2), object(3)
memory usage: 36.2+ KB

In [1442]:
df

,brand,Model_name,screen_size,Primary_cam,Front_cam,ram,rom
0,Realme,Realme 2 Pro 128GB,6.3,16.0,16,8,128
1,Apple,Apple iPhone X,5.8,12.0,7,3,64
2,Apple,Apple iPhone XR,6.1,12.0,7,3,64
3,Apple,Apple iPhone 7,4.7,12.0,7,2,32
4,Apple,Apple iPhone 6s 64GB,4.7,12.0,5,2,64
...,...,...,...,...,...,...,...
856,Oppo,Oppo F11 Pro,6.5,16.0,25,6,64
857,Oppo,Oppo A7,6.2,13.0,16,3,32
858,Realme,Realme 2 Pro 128GB,6.3,16.0,16,8,128
859,Xiaomi,Xiaomi Redmi Note 7 Pro,6.3,48.0,20,4,64
860,Oppo,Oppo A1,5.7,13.0,8,4,64

In [1443]:
front_cam=[]
for i in df['Front_cam']:
    try:
        if int(i)<=50:
            front_cam.append(i)
        else:
            front_cam.append(np.nan)
    except:
        front_cam.append(np.nan)

In [1444]:
df['front_cam']=front_cam

In [1445]:
df.drop(columns='Front_cam',inplace=True)

In [1446]:
df=df.replace(np.nan,5)

In [1447]:
df

,brand,Model_name,screen_size,Primary_cam,ram,rom,front_cam
0,Realme,Realme 2 Pro 128GB,6.3,16.0,8,128,16
1,Apple,Apple iPhone X,5.8,12.0,3,64,7
2,Apple,Apple iPhone XR,6.1,12.0,3,64,7
3,Apple,Apple iPhone 7,4.7,12.0,2,32,7
4,Apple,Apple iPhone 6s 64GB,4.7,12.0,2,64,5
...,...,...,...,...,...,...,...
856,Oppo,Oppo F11 Pro,6.5,16.0,6,64,25
857,Oppo,Oppo A7,6.2,13.0,3,32,16
858,Realme,Realme 2 Pro 128GB,6.3,16.0,8,128,16
859,Xiaomi,Xiaomi Redmi Note 7 Pro,6.3,48.0,4,64,20
860,Oppo,Oppo A1,5.7,13.0,4,64,8

In [1448]:
df['front_cam']=df['front_cam'].astype('float')

In [1449]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 861 entries, 0 to 860
Data columns (total 7 columns):
brand          861 non-null object
Model_name     861 non-null object
screen_size    861 non-null float64
Primary_cam    861 non-null float64
ram            861 non-null int64
rom            861 non-null int64
front_cam      861 non-null float64
dtypes: float64(3), int64(2), object(2)
memory usage: 47.2+ KB

In [1450]:
df.drop(columns='Model_name',inplace=True)

In [1451]:
df['ram']=df['ram'].astype('object')
df['rom']=df['rom'].astype('object')

In [1452]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 861 entries, 0 to 860
Data columns (total 6 columns):
brand          861 non-null object
screen_size    861 non-null float64
Primary_cam    861 non-null float64
ram            861 non-null object
rom            861 non-null object
front_cam      861 non-null float64
dtypes: float64(3), object(3)
memory usage: 40.5+ KB

In [1453]:
final=pd.get_dummies(df, columns=['brand','ram','rom'])

In [1454]:
final

,screen_size,Primary_cam,front_cam,brand_Apple,brand_Asus,brand_General,brand_Gionee,brand_Google,brand_HTC,brand_Honor,...,ram_8,ram_12,rom_1,rom_8,rom_16,rom_32,rom_64,rom_128,rom_256,rom_512
0,6.3,16.0,16.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
1,5.8,12.0,7.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,6.1,12.0,7.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,4.7,12.0,7.0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,4.7,12.0,5.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856,6.5,16.0,25.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
857,6.2,13.0,16.0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
858,6.3,16.0,16.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
859,6.3,48.0,20.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
860,5.7,13.0,8.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [1455]:
final.columns.values

array(['screen_size', 'Primary_cam', 'front_cam', 'brand_Apple',
       'brand_Asus', 'brand_General', 'brand_Gionee', 'brand_Google',
       'brand_HTC', 'brand_Honor', 'brand_Huawei', 'brand_InFocus',
       'brand_LG', 'brand_Micromax', 'brand_Motorola', 'brand_Nokia',
       'brand_OnePlus', 'brand_Oppo', 'brand_Panasonic', 'brand_Realme',
       'brand_Samsung', 'brand_Vivo', 'brand_Xiaomi', 'ram_1', 'ram_2',
       'ram_3', 'ram_4', 'ram_6', 'ram_8', 'ram_12', 'rom_1', 'rom_8',
       'rom_16', 'rom_32', 'rom_64', 'rom_128', 'rom_256', 'rom_512'],
      dtype=object)

In [1456]:
X=final.iloc[:,:].values

In [1457]:
X

array([[ 6.3, 16. , 16. , ...,  1. ,  0. ,  0. ],
       [ 5.8, 12. ,  7. , ...,  0. ,  0. ,  0. ],
       [ 6.1, 12. ,  7. , ...,  0. ,  0. ,  0. ],
       ...,
       [ 6.3, 16. , 16. , ...,  1. ,  0. ,  0. ],
       [ 6.3, 48. , 20. , ...,  0. ,  0. ,  0. ],
       [ 5.7, 13. ,  8. , ...,  0. ,  0. ,  0. ]])

In [1458]:
print(X.shape)
print(y.shape)

(861, 38)
(861,)

In [1459]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [1460]:
print(X_train.shape)
print(X_test.shape)

(688, 38)
(173, 38)

In [1461]:
X_test

array([[ 6.1 , 12.  ,  7.  , ...,  1.  ,  0.  ,  0.  ],
       [ 5.7 , 13.  ,  8.  , ...,  0.  ,  0.  ,  0.  ],
       [ 6.28, 16.  , 16.  , ...,  0.  ,  0.  ,  0.  ],
       ...,
       [ 5.8 , 12.  ,  8.  , ...,  0.  ,  0.  ,  0.  ],
       [ 5.7 , 16.  ,  5.  , ...,  0.  ,  0.  ,  0.  ],
       [ 5.2 , 12.  ,  8.  , ...,  0.  ,  0.  ,  0.  ]])

In [1462]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)
y_pred=regressor.predict(X_test)

In [1463]:
from sklearn.metrics import r2_score
print('The accuracy of the model = ',r2_score(y_test,y_pred)*100)

The accuracy of the model =  56.098238851640936

In [1464]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [1465]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred)*100)

Accuracy: 90.17341040462428

In [1466]:
y_pred

array([14000,  7200,  3700, 15000, 12500,  4000,  7000,  7000, 10000,
       17000,  6000,  7500, 11000, 27000, 14000,  5990,  7200, 21000,
       18500, 33000, 32000,  9000,  3931, 18000,  9000,  7500, 35000,
        6044,  4949,  5500,  6999,  9000, 17000,  8249,  8500,  9899,
        7694, 32000,  4702,  3500,  8189, 13000,  3300,  3500,  6000,
       10000, 11500,  5000,  5197,  9000, 17000,  8500,  5500, 13000,
        5500, 37345, 11999,  4000,  5500, 10000,  5000,  3666,  4000,
        9000, 13000,  6044,  8500, 32000, 45100,  8999,  5000,  9000,
        3000,  5200, 10600, 33000,  1000,  3999, 13000,  5200, 10724,
       17044,  6000, 12000, 10600, 12000,  9500, 10000,  2700, 17999,
       13000,  4500, 27000,  2500, 14000, 13000, 14800,  4000,  7999,
       11999, 12500, 11999,  8000,  9000,  7200,  5200,  5434,  2500,
       12000,  6000,  8000,  8000,  5200,  3700, 13000,  4000,  2700,
        4000,  6599,  4000, 13000,  7200,  7500,  2500, 12000,  7314,
       14000, 12000,  1200,  3000, 13000, 17000, 18500, 17999, 17999,
       37345,  5000, 11000,  6520,  7000,  4000,  6000, 12000,  7314,
        6000,  6049,  6000, 13000,  5500,  6500,  5000, 11700,  4999,
        8999,  7999,  3744,  1200, 12000, 27500,  6520, 20000, 12000,
        9000,  7500,  3400, 10500, 12000,  3744, 15000,  4999,  7000,
        4000,  9899], dtype=int64)

In [1467]:
pickle.dump(clf,open('model91%.pkl','wb'))

In [1468]:
new=pd.DataFrame(columns=['screen_size', 'Primary_cam', 'front_cam', 'brand_Apple',
       'brand_Asus', 'brand_General', 'brand_Gionee', 'brand_Google',
       'brand_HTC', 'brand_Honor', 'brand_Huawei', 'brand_InFocus',
       'brand_LG', 'brand_Micromax', 'brand_Motorola', 'brand_Nokia',
       'brand_OnePlus', 'brand_Oppo', 'brand_Panasonic', 'brand_Realme',
       'brand_Samsung', 'brand_Vivo', 'brand_Xiaomi', 'ram_1', 'ram_2',
       'ram_3', 'ram_4', 'ram_6', 'ram_8', 'ram_12', 'rom_1', 'rom_8',
       'rom_16', 'rom_32', 'rom_64', 'rom_128', 'rom_256', 'rom_512'])

In [1469]:
new

Empty DataFrame
Columns: [screen_size, Primary_cam, front_cam, brand_Apple, brand_Asus, brand_General, brand_Gionee, brand_Google, brand_HTC, brand_Honor, brand_Huawei, brand_InFocus, brand_LG, brand_Micromax, brand_Motorola, brand_Nokia, brand_OnePlus, brand_Oppo, brand_Panasonic, brand_Realme, brand_Samsung, brand_Vivo, brand_Xiaomi, ram_1, ram_2, ram_3, ram_4, ram_6, ram_8, ram_12, rom_1, rom_8, rom_16, rom_32, rom_64, rom_128, rom_256, rom_512]
Index: []

[0 rows x 38 columns]

In [1470]:
df

      brand  screen_size  Primary_cam ram  rom  front_cam
0    Realme          6.3         16.0   8  128       16.0
1     Apple          5.8         12.0   3   64        7.0
2     Apple          6.1         12.0   3   64        7.0
3     Apple          4.7         12.0   2   32        7.0
4     Apple          4.7         12.0   2   64        5.0
..      ...          ...          ...  ..  ...        ...
856    Oppo          6.5         16.0   6   64       25.0
857    Oppo          6.2         13.0   3   32       16.0
858  Realme          6.3         16.0   8  128       16.0
859  Xiaomi          6.3         48.0   4   64       20.0
860    Oppo          5.7         13.0   4   64        8.0

[861 rows x 6 columns]

In [1471]:
d={'brand':['Xiaomi','Google'],'screen_size':[6.1,5.5],'Primary_cam':[20,16],'front_cam':[12,16],'ram':[8,12],'rom':[128,32]}
data=pd.DataFrame(d,index=[1,2])

In [1472]:
data

    brand  screen_size  Primary_cam  front_cam  ram  rom
1  Xiaomi          6.1           20         12    8  128
2  Google          5.5           16         16   12   32

In [1473]:
F=pd.get_dummies(data, columns=['brand','ram','rom'])

In [1474]:
F

,screen_size,Primary_cam,front_cam,brand_Google,brand_Xiaomi,ram_8,ram_12,rom_32,rom_128
1,6.1,20,12,0,1,1,0,0,1
2,5.5,16,16,1,0,0,1,1,0

In [1475]:
F.columns.values

array(['screen_size', 'Primary_cam', 'front_cam', 'brand_Google',
       'brand_Xiaomi', 'ram_8', 'ram_12', 'rom_32', 'rom_128'],
      dtype=object)

In [1476]:
new[F.columns.values]=F[F.columns.values]

In [1477]:
new

,screen_size,Primary_cam,front_cam,brand_Apple,brand_Asus,brand_General,brand_Gionee,brand_Google,brand_HTC,brand_Honor,...,ram_8,ram_12,rom_1,rom_8,rom_16,rom_32,rom_64,rom_128,rom_256,rom_512
1,6.1,20,12,NaN,NaN,NaN,NaN,0,NaN,NaN,...,1,0,NaN,NaN,NaN,0,NaN,1,NaN,NaN
2,5.5,16,16,NaN,NaN,NaN,NaN,1,NaN,NaN,...,0,1,NaN,NaN,NaN,1,NaN,0,NaN,NaN

In [1478]:
new=new.replace(np.nan,0)

In [1479]:
new.shape

(2, 38)

In [1480]:
x=new.iloc[:,:].values
x.shape

(2, 38)

In [1481]:
x

array([[ 6.1, 20. , 12. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  1. ,  0. ,  0. ],
       [ 5.5, 16. , 16. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
         0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,
         1. ,  0. ,  0. ,  0. ,  0. ]])

In [1489]:
round(regressor.predict(x)[0],2)/2

8832.04